<configuration>

  <appSettings>
    <add key="connString" value="server=91.189.42.45;User ID=u4538935soundsgood;Pwd=kcpmY4ke3K;database=u4538935soundsgood" />
  </appSettings>

  <system.web>
    
    <customErrors mode="Off" defaultRedirect="error.aspx">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>

    <compilation debug="true" />

  </system.web>

</configuration>
